.body {
  margin-top: 114px;
  background: linear-gradient(159deg, rgba(20,20,20,1) 23%, rgba(10,6,184,1) 51%, rgba(20,20,20,1) 94%);
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.form{
  margin-top: 40px;
  background: white;
  border-radius: 14px;
  width: 530px;
}
